* {
  font-family: FiraCode Nerd Font;
  font-size: 14px;
  padding: 0px;
  background: transparent;
}

window#waybar {
  border-style: none;
}

#battery,
#network,
#clock,
#tray,
#cpu,
#pulseaudio {
  margin: 1px 4px;
  padding: 4px 8px;
  color: #cba6f7;
  background-color: #11111b;

  border-style: none;
  border-radius: 8px;
}
#cpu {
  color: #f9e2af;
}
#network {
  color: #a6e3a1;
}
#clock {
  color: #89dceb;
  margin-right: 6px;
}

#pulseaudio {
  color: #94e2d5;
}
#battery {}

#battery.warning,
#battery.critical,
#battery.urgent {
  color: #1d2021;
}

#tray menu {
  background-color: #11111b;
  color: #d8cab8;
  padding: 4px;
}
#tray menu menuitem {
  margin: 3px;
  color: #d8cab8;
  border-style: none;
}
#tray menu menuitem:hover {
  color: #fab387;
  font-weight: bold;
}

#workspaces {
  margin-left: 6px;
  margin: 1px 4px;
  padding: 4px 8px;
  color: #b4befe;
  background-color: #11111b;
  border-radius: 8px;

  border-style: none;
}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: 500;
  color: #313244;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: #eba0ac;
}
#workspaces button.focused {
  color: #eba0ac;
  font-weight: 500;
}
#workspaces button.active {
  color: #eba0ac;
  font-weight: 500;
}
#workspaces button.urgent {
  color: #fab387;
}

#mpris {
  color: #fab387;
  padding: 4px 8px;
  background-color: #11111b;
  border-radius: 8px;
  border-style: none;
  margin: 1px 4px;
}

#mpris.paused {
  color: #45475a;
}
