@import "./theme.css";

* {
  all: unset;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  background: @background;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid @border;
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @text;
}

.box {
}

.search-container {
  border-radius: 10px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
  caret-color: @selected-text;
  padding: 10px;
}


.input:focus,
.input:active {
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  color: @text;
}

child {
}

.item-box {
  color: @text;
  padding: 10px;
  font-weight: 600;
}

.item-quick-activation {
  margin-left: 10px;
  padding: 10px;
}

child:hover .item-box,
child:selected .item-box {
  color: @foreground;
  font-weight: 700;
}

.item-text-box {
}

.item-text {
}

.item-subtext {
  color: @subtext;
  font-size: 12px;
  font-weight: 400;
}

.item-image,
.item-image-text {
  margin-right: 10px;
}

.item-image-text {
  font-size: 28px;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 24px;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

