window.Hub {
  background: transparent;
}

.scrim {
  background: rgba(0,0,0,0.22);
}

.panel {
  background: #11111b;
  border-radius: 12px;
  padding: 12px;
  margin-top: 48px;
  margin-right: 8px;
}

.section {
  background: #181825;
  border-radius: 12px;
  padding: 12px;

  & + & {
    margin-top: 8px;
  }
}

.header {
  padding: 2px 4px;
  margin-bottom: 6px;
}
.name {
  font-size: 18px;
  font-weight: 800;
  color: #74c7ec;
}

.chip {
  border-radius: 4px;
  padding: 4px 6px;
  border: 0.3px solid #fab387;

  .chip-icon {
    font-size: 12px;
    color: #fab387;
  }
  .chip-text {
    font-size: 11px;
    font-weight: 800;
    color: #fab387;
  }
}

/* -------- Buttons -------- */
.btn-row {
  margin-top: 6px;
}

.qs-btn {
  background: #181825;
  color: #b4befe;
  min-height: 44px;
  border-radius: 8px;
  border: 1px solid #89b4fa;
  padding: 6px 0;
  transition: background-color 140ms ease, box-shadow 140ms ease;

  &:hover {
    background: #89b4fa;
    color: #181825;
  }
  &.active {
    background: #89b4fa;
    color: #181825;
  }
}

.qs-icon {
  font-size: 24px;
  color: inherit;
}
.qs-label {
  font-size: 8px;
  font-weight: 800;
  opacity: 0.82;
  letter-spacing: 0.02em;
  color: inherit;
}

.sliders-box {
  margin-top: 10px;
  .slider-row {
    padding: 0;
    background: transparent;
    border: none;
  }
  .slider-icon {
    color: #89b4fa;
    font-size: 14px;
    min-width: 16px;
  }
  scale {
    min-height: 24px;
    trough {
      border-radius: 8px;
      overflow: hidden;
      min-height: 24px;
      border: 1px solid #89b4fa;
    }
    highlight {
      background: #89b4fa;
      border-radius: 0px
    }
    slider {
      background: transparent;
      min-width: 1px;
      min-height: 1px;
      opacity: 0;
    }
  }
}

