* {
  all: unset;
  background: transparent;
  font-family: FiraCode Nerd Font;
}

window {
  background: transparent;
}

.calendar {
  .cell {
    background-color: #11111b;
    color: #d8cab8;
    border-radius: 12px;
    border-color: #f5e0dc;
    border-style: solid;
    border-width: 1px;

    .label {
      font-size: 14px;
    }
  }
}
.userinfo-parent {
  background-color: #11111b;
  color: #d8cab8;
  border-radius: 12px;

  border-width: 1px;
  border-style: solid;
  border-color: #f5e0dc;
}
.userinfo-child {
  color: #f5e0dc;
}
.label {
  font-size: 20px;
  font-weight: bold;
}

.button-label {
  font-size: 24px;
  font-weight: bold;
}

.button {
  border-radius: 6px;
  margin: 8px;
}
.button:hover {
  background-color: #eba0ac;
  color: #11111b;
  transition-duration: 150ms;
}
.button:active {
  background-color: #cba6f7;
  color: #11111b;
  transition-duration: 150ms;
}

.poweroff-button {
  border-radius: 6px;
  margin: 8px;
}
.poweroff-button:hover {
  background-color: #f38ba8;
  color: #11111b;
  transition-duration: 150ms;
}
.poweroff-button:active {
  background-color: #f38ba8;
  color: #141216;
  transition-duration: 150ms;
}

.suspend-button {
  border-radius: 6px;
  margin: 8px;
}
.suspend-button:hover {
  background-color: #74c7ec;
  color: #141216;
  transition-duration: 150ms;
}
.suspend-button:active {
  background-color: #89b4fa;
  color: #141216;
  transition-duration: 150ms;
}

.icon-label {
  font-size: 20px;
  font-weight: normal;
}
